absl-py>=0.7.0
numpy==1.18.5
pybullet>=3.0.4
packaging>=19.2
matplotlib>=3.1.1
opencv-python>=4.1.2.30
meshcat>=0.0.18
transformations>=2020.1.1
scipy==1.4.1
scikit-image>=0.17.2
circle-fit>=0.1.3
tensorflow==2.3.0
tensorflow-addons==0.11.2
tensorflow_hub==0.9.0
