Pillow == 9.2.0
absl_py == 1.4.0
ml-collections == 0.1.1
numpy == 1.21.6
scikit_learn == 1.0.2
tensorflow == 2.15.0.post1
torch == 1.12.1+cu113
transformers == 4.38.0
pandas == 1.0.5
torchvision == 0.13.0
