absl-py
aqtp
chex
dm-tree
fiddle
flax
git+git://github.com/deepmind/dmvr.git
git+git://github.com/google-research/t5x.git
google-vizier
jax
numpy
optax
pyglove
PyYAML
seqio
t5
tensorflow
tensorflow_datasets
tensorflow_probability
tensorstore
xmanager
