dill==0.3.6
Pillow==10.3.0
protobuf==3.20.*
absl-py==1.4.0
clu==0.0.9
flax==0.5.1
jaxlib==0.3.14
jax==0.3.14
ml_collections==0.1.1
numpy==1.23.5
scipy==1.10.1
tensorflow==2.8.0
tensorflow-datasets==4.9.2
gin-config==0.5.0
chex==0.1.6
seqio==0.0.16
scikit-learn==1.2.2
git+https://github.com/google/flaxformer@826c45c9cc14cee0f906b7c4b6d041f08f8ece5d
aqtp==0.0.7