numpy==1.26.3
jax==0.4.23
jaxlib==0.4.23
flax==0.7.5
opencv-python==4.9.0.80
pillow==10.3.0
tensorboard==2.15.1
tensorflow==2.15.0.post1
gin-config==0.5.0
dm-pix==0.4.2
rawpy==0.19.0
mediapy==1.2.0
immutabledict==4.1.0
ml_collections
jaxcam==0.1.1
chex==0.1.85
