absl-py==0.9.0
astor==0.8.1
backports.functools-lru-cache==1.6.1
backports.weakref==1.0.post1
boto==2.49.0
boto3==1.11.17
botocore==1.14.17
bz2file==0.98
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
docutils==0.15.2
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.3.0
gast==0.2.2
gensim==3.8.1
google-pasta==0.1.8
grpcio==1.27.1
h5py==2.10.0
idna==2.8
jmespath==0.9.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==2.2.5
mock==3.0.5
numpy==1.16.1
opt-einsum==2.3.2
pandas==0.24.2
pkg-resources==0.0.0
protobuf==3.11.3
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
s3transfer==0.3.3
scikit-learn==0.20.4
scipy==1.2.3
seaborn==0.9.1
six==1.14.0
sklearn==0.0
smart-open==1.9.0
subprocess32==3.5.4
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
urllib3==1.25.8
Werkzeug==1.0.0
wrapt==1.11.2
