absl-py>=1.0.0
cachetools>=4.2.4
certifi>=2021.10.8
charset-normalizer>=2.0.7
earthengine-api>=0.1.288
future>=0.18.2
google-api-core>=1.31.4
google-api-python-client>=1.12.8
google-auth>=1.35.0
google-auth-httplib2>=0.1.0
google-cloud-core>=2.2.1
google-cloud-storage>=1.42.3
google-crc32c>=1.3.0
google-resumable-media>=2.1.0
googleapis-common-protos>=1.53.0
httplib2>=0.20.2
httplib2shim>=0.0.3
idna>=3.3
numpy>=1.21.4
packaging>=21.2
protobuf>=3.19.1
pyasn1>=0.4.8
pyasn1-modules>=0.2.8
pyparsing>=2.4.7
pytz>=2021.3
requests>=2.26.0
rsa>=4.7.2
six>=1.16.0
uritemplate>=3.0.1
urllib3>=1.26.7
