accelerate==0.34.0
backoff==2.2.1
bitsandbytes==0.43.1
datasets==3.0.0
google-cloud-aiplatform==1.49.0
latex2sympy2==1.9.1
matplotlib==3.9.0
numpy==1.26.4
openai==1.48.0
pandas==2.2.3
scikit-learn==1.5.1
scipy==1.14.1
seaborn==0.13.2
sentencepiece==0.1.99
tiktoken==0.7.0
tqdm==4.66.5
transformers==4.45.1
peft==0.11.1
vllm==0.5.3
ratelimit==2.2.1
protobuf==4.25.8
