absl-py==1.4.0
array_record==0.5.1
astunparse==1.6.3
attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.4.0
chex==0.1.87
click==8.1.7
dm-haiku==0.0.13
dm-tree==0.1.8
docstring_parser==0.16
dp-accounting==0.4.4
etils==1.10.0
flatbuffers==24.3.25
fsspec==2024.10.0
gast==0.6.0
google-pasta==0.2.0
googleapis-common-protos==1.66.0
grpcio==1.68.0
h5py==3.12.1
idna==3.10
immutabledict==4.2.1
importlib_resources==6.4.5
jax==0.4.35
jaxlib==0.4.35
jmp==0.0.4
joblib==1.4.2
keras==3.6.0
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ml-dtypes==0.4.1
mpmath==1.3.0
namex==0.0.8
numpy==1.26.4
objax==1.8.0
opt_einsum==3.4.0
optax==0.2.4
optree==0.13.1
packaging==24.2
pandas==2.2.3
parameterized==0.9.0
pillow==11.0.0
promise==2.3
protobuf==5.28.3
psutil==6.1.0
pyarrow==18.0.0
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
rich==13.9.4
scikit-learn==1.5.2
scipy==1.14.1
simple-parsing==0.1.6
six==1.16.0
tabulate==0.9.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-datasets==4.9.7
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.16.1
termcolor==2.5.0
threadpoolctl==3.5.0
toml==0.10.2
toolz==1.0.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
Werkzeug==3.1.3
wrapt==1.17.0
zipp==3.21.1