absl-py==0.7.1
autograd==1.2
backports.functools-lru-cache==1.5
cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
Cython==0.29.6
enum34==1.1.6
future==0.17.1
futures==3.2.0
idna==2.8
kiwisolver==1.1.0
matplotlib==2.2.4
nose==1.3.7
numpy==1.16.2
pandas==0.24.2
patsy==0.5.1
protobuf==3.7.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pybasicbayes==0.2.2
pylds==0.0.5
pyparsing==2.4.0
pypolyagamma==1.2.2
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
rsa==4.7
scikit-learn==0.18
scipy==1.2.1
seaborn==0.9.0
six==1.12.0
statsmodels==0.9.0
subprocess32==3.5.3
tqdm==4.31.1
tslearn==0.1.29
urllib3==1.24.3
wfdb==2.2.1
