# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
absl-py=0.12.0=pypi_0
astunparse=1.6.3=pypi_0
attrs=20.3.0=pypi_0
ca-certificates=2021.4.13=h06a4308_1
cachetools=4.2.2=pypi_0
certifi=2020.12.5=py38h06a4308_0
chardet=4.0.0=pypi_0
chex=0.0.6=pypi_0
dill=0.3.3=pypi_0
dm-haiku=0.0.5.dev0=pypi_0
dm-tree=0.1.6=pypi_0
flatbuffers=1.12=pypi_0
future=0.18.2=pypi_0
gast=0.3.3=pypi_0
google-auth=1.30.0=pypi_0
google-auth-oauthlib=0.4.4=pypi_0
google-pasta=0.2.0=pypi_0
googleapis-common-protos=1.53.0=pypi_0
grpcio=1.32.0=pypi_0
h5py=2.10.0=pypi_0
idna=2.10=pypi_0
importlib-resources=5.1.2=pypi_0
jax=0.2.12=pypi_0
jaxlib=0.1.65+cuda112=pypi_0
jmp=0.0.2=pypi_0
keras-preprocessing=1.1.2=pypi_0
ld_impl_linux-64=2.33.1=h53a641e_7
libffi=3.3=he6710b0_2
libgcc-ng=9.1.0=hdf63c60_0
libstdcxx-ng=9.1.0=hdf63c60_0
markdown=3.3.4=pypi_0
ncurses=6.2=he6710b0_1
numpy=1.19.5=pypi_0
oauthlib=3.1.0=pypi_0
openssl=1.1.1k=h27cfd23_0
opt-einsum=3.3.0=pypi_0
optax=0.0.6=pypi_0
pip=21.1=pypi_0
promise=2.3=pypi_0
protobuf=3.15.8=pypi_0
pyasn1=0.4.8=pypi_0
pyasn1-modules=0.2.8=pypi_0
python=3.8.8=hdb3f193_5
readline=8.1=h27cfd23_0
requests=2.25.1=pypi_0
requests-oauthlib=1.3.0=pypi_0
rsa=4.7.2=pypi_0
scipy=1.6.3=pypi_0
setuptools=52.0.0=py38h06a4308_0
six=1.15.0=pypi_0
sqlite=3.35.4=hdfb4753_0
tabulate=0.8.9=pypi_0
tensorboard=2.5.0=pypi_0
tensorboard-data-server=0.6.0=pypi_0
tensorboard-plugin-wit=1.8.0=pypi_0
tensorflow=2.4.1=pypi_0
tensorflow-datasets=4.2.0=pypi_0
tensorflow-estimator=2.4.0=pypi_0
tensorflow-metadata=0.30.0=pypi_0
termcolor=1.1.0=pypi_0
tk=8.6.10=hbc83047_0
toolz=0.11.1=pypi_0
tqdm=4.60.0=pypi_0
typing-extensions=3.7.4.3=pypi_0
urllib3=1.26.4=pypi_0
werkzeug=1.0.1=pypi_0
wheel=0.36.2=pyhd3eb1b0_0
wrapt=1.12.1=pypi_0
xz=5.2.5=h7b6447c_0
zlib=1.2.11=h7b6447c_3
# # pip freeze file that worked for me:
# absl-py==1.4.0
# array-record==0.5.0
# astunparse==1.6.3
# cachetools==5.3.2
# certifi==2023.7.22
# charset-normalizer==3.3.2
# chex==0.1.84
# click==8.1.7
# dm-haiku==0.0.10
# dm-tree==0.1.8
# docopt==0.6.2
# etils==1.5.2
# flatbuffers==23.5.26
# fsspec==2023.10.0
# gast==0.5.4
# google-auth==2.23.4
# google-auth-oauthlib==1.0.0
# google-pasta==0.2.0
# googleapis-common-protos==1.61.0
# grpcio==1.59.2
# h5py==3.10.0
# idna==3.4
# importlib-metadata==6.8.0
# importlib-resources==6.1.0
# jax==0.4.20
# jaxlib==0.4.20+cuda11.cudnn86
# jmp==0.0.4
# keras==2.14.0
# libclang==16.0.6
# Markdown==3.5.1
# MarkupSafe==2.1.3
# ml-dtypes==0.2.0
# numpy==1.26.1
# nvidia-cublas-cu11==11.11.3.6
# nvidia-cuda-cupti-cu11==11.8.87
# nvidia-cuda-nvcc-cu11==11.8.89
# nvidia-cuda-runtime-cu11==11.8.89
# nvidia-cudnn-cu11==8.7.0.84
# nvidia-cufft-cu11==10.9.0.58
# nvidia-curand-cu11==10.3.0.86
# nvidia-cusolver-cu11==11.4.1.48
# nvidia-cusparse-cu11==11.7.5.86
# nvidia-nccl-cu11==2.16.5
# oauthlib==3.2.2
# opt-einsum==3.3.0
# optax==0.1.7
# packaging==23.2
# pip==23.3.1
# pipreqs==0.4.13
# promise==2.3
# protobuf==3.20.3
# psutil==5.9.6
# pyasn1==0.5.0
# pyasn1-modules==0.3.0
# requests==2.31.0
# requests-oauthlib==1.3.1
# rsa==4.9
# scipy==1.11.3
# setuptools==68.0.0
# six==1.16.0
# tabulate==0.9.0
# tensorboard==2.14.1
# tensorboard-data-server==0.7.2
# tensorflow==2.14.0
# tensorflow-datasets==4.9.3
# tensorflow-estimator==2.14.0
# tensorflow-io-gcs-filesystem==0.34.0
# tensorflow-metadata==1.14.0
# tensorrt==8.5.3.1
# termcolor==2.3.0
# toml==0.10.2
# toolz==0.12.0
# tqdm==4.66.1
# typing_extensions==4.8.0
# urllib3==2.0.7
# Werkzeug==3.0.1
# wheel==0.41.2
# wrapt==1.14.1
# yarg==0.1.9
# zipp==3.17.0
