matplotlib>=3.2.2
mpmath>=1.1.0
numpy==1.22.0
pandas>=1.0.5
scikit-learn>=0.23.1
scipy>=1.5.1
seaborn>=0.11.0
sklearn>=0.0
statsmodels>=0.11.1
tensorflow>=2.3.1
requests>=2.23.0
google-api-python-client>=1.12.5
google-auth-httplib2>=0.0.4
google-auth-oauthlib>=0.4.2
oauth2client>=4.1.3