tensorflow>=2.14.0
numpy>=1.16.4
jax>=0.4.4
jaxlib>=0.4.4
flax>=0.6.4
Pillow==10.3.0
torch>=2.0.0
torchvision>=0.15.1
opencv-python>=4.7.0.72
tqdm>=4.65.0
clu>=0.0.9
gin-config>=0.5.0
pycocotools>=2.0.6
tensorflow-datasets>=4.9.2
git+https://github.com/openai/CLIP.git
tensorflow_text>=2.14.0