absl-py>=0.10.0
astunparse>=1.6.3
dataclasses>=0.7
flax>=0.2.2
gast>=0.3.3
gin-config>=0.3.0
jax>=0.2.1
labmaze>=1.0.3
matplotlib>=3.3.2
numpy>=1.19.2
optax>=0.0.1
scipy>=1.5.2
tensor2tensor>=1.15.7
tensorflow>=2.3.1
