sckit-learn==0.24.2
trimesh[all]
imageio
numpy
opencv-python-headless
pyyaml
tensorboard
torch>=1.3.0
torchvision>=0.5
tqdm
git+https://github.com/aliutkus/torchsearchsorted
dataclasses>=0.6
pyrender
git+https://github.com/hassony2/chumpy.git
smplpytorch
scikit-learn
etils[array_types,epath,epy]
loguru
ipykernel