absl-py==0.7.1
astor==0.8.0
attrs==19.1.0
bz2file==0.98
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cloudpickle==1.2.1
contextlib2==0.5.5
decorator==4.4.0
dill==0.3.0
dm-control==0.0.0
dm-sonnet==1.34
dopamine-rl==2.0.5
enum34==1.1.6
Flask==1.1.1
future==0.17.1
futures==3.1.1
gast==0.2.2
gevent==1.4.0
gin-config==0.2.0
glfw==1.8.2
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-pasta==0.1.7
googleapis-common-protos==1.6.0
greenlet==0.4.15
grpcio==1.22.0
gunicorn==19.9.0
gym==0.13.1
h5py==2.9.0
httplib2==0.13.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kfac==0.1.4
lxml==4.3.4
Markdown==3.1.1
MarkupSafe==1.1.1
mesh-tensorflow==0.0.5
mpmath==1.1.0
numpy==1.16.4
oauth2client==4.1.3
opencv-python==4.1.0.25
Pillow==6.1.0
pkg-resources==0.0.0
promise==2.2.1
protobuf==3.9.0
psutil==5.6.3
pyasn1==0.4.5
pyasn1-modules==0.2.5
pyglet==1.3.2
PyOpenGL==3.1.0
pyparsing==2.4.1
pypng==0.0.20
requests==2.22.0
rsa==4.0
scipy==1.3.0
semantic-version==2.6.0
six==1.12.0
sympy==1.4
tensor2tensor==1.13.4
tensorboard==1.14.0
tensorflow-datasets==1.1.0
tensorflow-estimator==1.14.0
tensorflow-gpu==2.5.3
tensorflow-metadata==0.14.0
tensorflow-probability==0.7.0
termcolor==1.1.0
tqdm==4.32.2
uritemplate==3.0.0
urllib3==1.25.3
Werkzeug==0.15.5
wrapt==1.11.2
