absl-py==0.9.0
astor==0.8.1
gast==0.3.3
grpcio==1.26.0
h5py==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
mock==3.0.5
numpy==1.18.1
pkg-resources==0.0.0
protobuf==3.11.2
six==1.14.0
tensorboard==1.13.1
tensorflow==1.13.2
tensorflow-estimator==1.13.0
termcolor==1.1.0
Werkzeug==0.16.0
