# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
cvxopt=1.2.6=pypi_0
cvxpy=1.1.13=py39hf3d152e_0
cvxpy-base=1.1.13=py39hde0f152_0
numpy=1.21.1=py39hdbf815f_0
pandas=1.3.1=py39h8c16a72_0
python=3.9.6=h49503c6_1_cpython
scipy=1.7.0=py39hee8e79c_1
scs=2.1.4=py39h3c5bb4f_0
