# This file may be used to create an environment using:
# $ conda create --name stable_transfer python=3.9 
# $ conda activate stable_transfer
# $ pip install -r requirements.txt
absl-py
matplotlib
ml-collections
numpy
pandas
parameterized
scipy
six
sklearn
tensorflow
tensorflow-datasets
tqdm