absl-py==1.0.0
chex==0.1.3
cycler==0.11.0
dm-tree==0.1.7
flatbuffers==2.0
flax==0.4.1
fonttools==4.33.3
jax==0.3.7
jaxlib==0.3.7
kiwisolver==1.4.2
matplotlib==3.5.1
msgpack==1.0.3
numpy==1.22.3
opt-einsum==3.3.0
optax==0.1.2
packaging==21.3
Pillow==10.3.0
pyparsing==3.0.8
python-dateutil==2.8.2
scipy==1.8.0
six==1.16.0
toolz==0.11.2
typing-extensions==4.2.0
jraph==0.0.02.dev0
sklearn==0.0
