torch==1.7.1
torchvision==0.8.2
ml-collections==0.1.0
albumentations==0.5.2
scikit-learn==0.24.1
tensorflow-cpu==2.6.0
imageio
imageio-ffmpeg
tqdm
gym==0.17.*
absl-py
numpy
scipy
git+https://github.com/kevinzakka/torchkit.git

# dev
gdown
