absl-py>=0.8.1
astor>=0.8.1
atari-py==0.2.6
cachetools>=3.1.1
certifi>=2019.11.28
chardet>=3.0.4
cloudpickle>=1.2.2
decorator>=4.4.1
future>=0.18.2
gast>=0.2.2
gin-config>=0.1.3
google-auth>=1.8.2
google-auth-oauthlib>=0.4.1
google-pasta>=0.1.8
grpcio>=1.25.0
gym==0.15.4
h5py>=2.10.0
idna>=2.8
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown>=3.1.1
numpy>=1.17.4
oauthlib>=3.1.0
opencv-python>=4.1.2.30
opt-einsum==3.1.0
protobuf==3.11.1
pyasn1>=0.4.8
pyasn1-modules>=0.2.7
pyglet>=1.3.2
requests>=2.22.0
requests-oauthlib>=1.3.0
rsa>=4.0
scipy>=1.3.3
six>=1.13.0
tb-nightly==2.1.0a20191206
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-estimator-2.0-preview==2.0.0
termcolor>=1.1.0
tf-agents-nightly==0.2.0.dev20191214
tf-nightly-2.0-preview==2.0.0.dev20191002
tfp-nightly==0.9.0.dev20191214
typeguard>=2.7.0
urllib3>=1.25.7
Werkzeug>=0.16.0
wrapt>=1.11.2
