absl-py==1.3.0
astor==0.7.1
biopython==1.78
backports.weakref==1.0.post1
enum34==1.1.6
funcsigs==1.0.2
gast==0.2.2
grpcio==1.19.0
h5py==2.9.0
Markdown==3.0.1
mock==2.0.0
numpy==1.16.2
pandas<=1.0
pbr==5.1.3
protobuf<4
python-dateutil==2.8.0
pytz==2018.9
scipy
six==1.12.0
tensorflow-gpu==1.15.4
tensorflow-estimator==1.15.1
tensorflow-hub==0.9.0
termcolor==1.1.0
tqdm==4.28.1
Werkzeug==3.0.1