absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1673535674859/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1686375866723/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
appdirs==1.4.4
argcomplete==3.1.1
asttokens==2.2.1
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
blessings==1.7
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1681349778161/work
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1666764652625/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1674482203741/work
certifi==2023.5.7
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1625835293160/work
chardet==5.1.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1678108872112/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1666798198223/work
colorlog==6.7.0
contourpy==1.1.0
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1672672380968/work
cycler==0.11.0
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.6
docker-pycreds==0.4.0
dominate==2.8.0
dynesty==2.1.3
einops==0.7.0
exceptiongroup==1.1.1
executing==1.2.0
fastjsonschema==2.17.1
filelock==3.12.2
flatbuffers==23.5.26
fonttools==4.40.0
freetype-py==2.4.0
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1667935432857/work
fsspec==2023.12.2
future==0.18.3
gitdb==4.0.10
GitPython==3.1.31
glcontext==2.3.7
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1686724583094/work
google-auth-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/google-auth-oauthlib_1630497468950/work
GPUtil==1.4.0
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpcio_1653138885133/work
husl==4.0.3
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
imageio==2.9.0
imageio-ffmpeg==0.4.9
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1682176699712/work
importlib-resources==5.12.0
iniconfig==2.0.0
ipython==8.12.2
jax==0.2.8
jaxlib==0.1.57+cuda110
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.17.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyterlab-pygments==0.2.2
kaleido==0.2.1
kiwisolver==1.4.4
littleutils==0.2.2
llvmlite==0.41.1
loguru==0.7.2
lpips==0.1.4
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1679584000376/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1685769052690/work
matplotlib==3.5.3
matplotlib-inline==0.1.6
mistune==2.0.5
moderngl==5.8.2
moviepy==1.0.3
mpmath==1.3.0
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1672339402773/work
multipledispatch==0.6.0
multiprocess==0.70.14
nbclient==0.8.0
nbconvert==7.5.0
nbformat==5.9.0
networkx==3.1
nox==2023.4.22
numba==0.58.1
numpy==1.19.5
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1666056362788/work
OpenEXR @ file:///home/conda/feedstock_root/build_artifacts/openexr-python_1667084635530/work
opt-einsum==3.3.0
p-tqdm==1.4.0
packaging==23.1
pandas==1.1.4
pandocfilters==1.5.0
parso==0.8.3
path==16.6.0
path.py==12.5.0
pathos==0.3.0
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.3.0
pkgutil_resolve_name==1.3.10
platformdirs==3.5.3
plenoptic==1.0.2
plotly==5.15.0
pluggy==1.0.0
plyfile==0.9
pooch==1.7.0
pox==0.3.2
ppft==1.7.6.6
proglog==0.1.10
progressbar==2.5
prompt-toolkit==3.0.38
protobuf==3.16.0
psutil==5.9.5
ptwt==0.1.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.7
pybind11 @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1679012409253/work
pybind11-global @ file:///home/conda/feedstock_root/build_artifacts/pybind11-split_1679012409253/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
PyEXR==0.3.10
pyglet==2.0.10
Pygments==2.15.1
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1683676063469/work
PyMCubes==0.1.4
PyOpenGL==3.1.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1685514481738/work
pyparsing==3.0.9
pypng==0.20220715.0
pyrender==0.1.45
pyrr==0.10.3
pyrsistent==0.19.3
pyrtools==1.0.2
pysdf==0.1.8
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pysrt==1.1.2
pytest==7.3.2
python-dateutil==2.8.2
pytz==2023.3
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyVirtualDisplay==3.0
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==25.1.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1643557462909/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
scikit-image==0.19.3
scikit-learn==1.2.2
scikit-video==1.1.11
scipy==1.10.1
seaborn==0.12.2
sentry-sdk==1.25.1
setproctitle==1.3.2
simple-3dviz==0.7.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.0
sorcery==0.2.2
soupsieve==2.4.1
stack-data==0.6.2
sympy==1.12
tenacity==8.2.2
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1673674224265/work/tensorboard-2.11.2-py3-none-any.whl
tensorboard-data-server @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-data-server_1670043835761/work/tensorboard_data_server-0.6.1-py3-none-manylinux2010_x86_64.whl
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1641458951060/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
threadpoolctl==3.1.0
tifffile==2023.4.12
tinycss2==1.2.1
tomli==2.0.1
torch==1.8.0
torchvision==0.8.2
tornado==6.3.2
tqdm @ file:///croot/tqdm_1679561862951/work
traitlets==5.9.0
trimesh==3.22.1
triton==2.1.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1685704949284/work
tzdata==2023.3
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1678635778344/work
virtualenv==20.23.0
visdom==0.2.4
wandb==0.15.4
wcwidth==0.2.6
webencodings==0.5.1
websocket-client==1.5.3
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1686273693854/work
wrapt==1.15.0
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1685191812993/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
