absl-py
atari-py
jax >= 0.3.14
jaxlib >= 0.3.14
ale-py
flax >= 0.6.3
gym[atari,accept-rom-license]<=0.25.2
dopamine-rl == 4.0.5
numpy
gin-config
tensorflow
tensorflow-estimator
tbp-nightly
keras
ipdb
wandb
pyglet == 1.4.11
matplotlib
dm-haiku
protobuf == 3.19.5
importlib-metadata == 4.11.3
importlib-resources == 5.7.1
etils
