gym>=0.17.0
mujoco-py~=2.0.2.13
numpy~=1.19.2
tensorflow==2.6.0
tensorflow-probability==0.14.1
tf-agents==0.10.0
git+git://github.com/rail-berkeley/d4rl@master#egg=d4rl
git+git://github.com/deepmind/dm_env.git
