beautifulsoup4==4.12.3
bertopic==0.16.4
elasticsearch==8.16.0
hdbscan==0.8.40
langchain==0.3.9
langchain_community==0.3.9
langchain_core==0.3.21
langchain_elasticsearch==0.3.0
langchain_google_genai==2.0.6
numpy==2.1.3
pandas==2.2.3
protobuf==5.29.0
Requests==2.32.3
scikit_learn==1.5.2
scipy==1.14.1
tensorflow==2.18.0
tqdm==4.67.1
transformers==4.46.3
umap==0.1.1
xsdata==24.11
