absl-py>=1.3.0
apache-beam>=2.34.0
attrs>=22.1.0
ml-collections>=0.1.1
tensorflow>=2.8.4
tensorflow-addons>=0.18.0
tensorflow-hub>=0.12.0
tf-models-official==2.7.0
bert-tensorflow==1.0.4
clu>=0.0.7
immutabledict>=2.2.3