h5py==2.9.0
hickle==3.4.5
Keras==2.2.4
Keras-Applications==1.0.8
keras-bert==0.74.0
keras-embed-sim==0.7.0
keras-multi-head==0.20.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.0
keras-self-attention==0.41.0
keras-transformer==0.29.0
keras-vis==0.4.1
Markdown==3.1.1
numpy==1.16.4
numpydoc==0.6.0
pandas==0.25.0
py==1.4.33
pyparsing==2.4.0
pytest==3.0.7
python-dateutil==2.8.0
pytz==2017.2
QtPy==1.2.1
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.3.0
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
tensorflow-hub==0.4.0
