# This file may be used to create an environment using:
# $ conda create --name fids python=3.9 
# $ conda activate fids
# $ pip install -r requirements.txt
absl-py
numpy
opencv-python
pandas
Pillow
pycocotools
scipy
tensorflow
tensorflow-datasets