certifi==2026.6.17
charset-normalizer==3.4.7
contourpy==1.3.3
cycler==0.12.1
fonttools==4.63.0
idna==3.18
kiwisolver==1.5.0
matplotlib==3.11.0
numpy==2.4.6
packaging==26.2
pandas==3.0.3
patsy==1.0.2
pillow==12.2.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.34.2
scipy==1.17.1
seaborn==0.13.2
six==1.17.0
statsmodels==0.14.6
urllib3==2.7.0
