# Python generated
*.pyc
__pycache__

# Python virtual environment
pyenv*
env-activate

# Compiled js
eeg_viewer/static/js/compiled_*

# Compiled css
eeg_viewer/static/css

# Compiled protos
jsprotos/
pyprotos/

# Third party deps
third_party/

# Bazel
bazel-*
lullaby/
