absl-py>=0.7.0
astor>=0.7.1
backports.weakref>=1.0.post1
Click>=7.0
enum34>=1.1.6
Flask>=1.0.2
funcsigs>=1.0.2
futures>=3.2.0
gast>=0.2.2
gevent>=1.4.0
greenlet>=0.4.15
grpcio>=1.19.0
gviz-api>=1.9.0
h5py>=2.9.0
itsdangerous>=1.1.0
Jinja2>=2.10
Keras-Applications>=1.0.7
Keras-Preprocessing>=1.0.9
Markdown>=3.0.1
MarkupSafe>=1.1.1
mock>=2.0.0
numpy==1.16.1
opencv-python>=4.1.0.25
pbr>=5.1.3
protobuf>=3.7.0
scipy>=1.2.1
six>=1.12.0
tensorboard==1.13.0
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor>=1.1.0
Werkzeug>=0.14.1
