# These package versions reproduce the published experiments.
# Other versions may also work.
tf-nightly==2.5.0.dev20210126
tensorflow-datasets==4.2.0
tfp-nightly==0.13.0.dev20210126
inference-gym==0.0.4
matplotlib
