absl-py==1.4.0
anyio==3.6.2
attrs==21.4.0
cachetools==5.3.0
certifi==2023.7.22
charset-normalizer==3.1.0
cirq==1.1.0
cirq-aqt==1.1.0
cirq-core==1.1.0
cirq-google==1.1.0
cirq-ionq==1.1.0
cirq-pasqal==1.1.0
cirq-rigetti==1.1.0
cirq-web==1.1.0
contourpy==1.0.7
cycler==0.11.0
decorator==5.1.1
duet==0.2.8
fonttools==4.39.4
google-api-core==1.34.0
google-auth==2.18.1
googleapis-common-protos==1.59.0
grpcio==1.54.2
grpcio-status==1.48.2
h11==0.14.0
httpcore==0.16.3
httpx==0.23.3
idna==3.4
iso8601==1.1.0
kiwisolver==1.4.4
lark==0.11.3
matplotlib==3.7.1
mpmath==1.3.0
msgpack==1.0.5
networkx==2.8.8
nptyping==2.5.0
numpy==1.23.5
packaging==23.1
pandas==2.0.1
Pillow==9.5.0
proto-plus==1.22.2
protobuf==3.20.3
py==1.11.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==1.10.7
PyJWT==2.7.0
pyparsing==3.0.9
pyquil==3.5.0
python-dateutil==2.8.2
python-rapidjson==1.10
pytz==2023.3
pyzmq==25.0.2
qcs-api-client==0.21.5
requests==2.30.0
retry==0.9.2
retrying==1.3.4
rfc3339==6.2
rfc3986==1.5.0
rpcq==3.11.0
rsa==4.9
ruamel.yaml==0.17.26
ruamel.yaml.clib==0.2.7
scipy==1.10.1
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sympy==1.12
toml==0.10.2
tqdm==4.65.0
types-python-dateutil==2.8.19.13
types-retry==0.9.9.3
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.15
