<?xml version="1.0" ?>
<robot name="plane">
  <link name="planeLink">
	<contact>
      <lateral_friction value="0.9"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value=".0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
				<mesh filename="plane100.obj" scale="1 1 1"/>
      </geometry>
       <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <!--<origin rpy="0 0 0" xyz="0 0 -5"/>-->
      <geometry>
	      <plane normal="0 0 1"/>
	 			<!--<box size="100 100 10"/>-->
      </geometry>
    </collision>
  </link>
</robot>

