absl-py==1.4.0
array-record==0.2.0
astunparse==1.6.3
cached-property==1.5.2
cachetools==5.3.0
certifi==2023.5.7
charset-normalizer==3.1.0
chex==0.1.7
click==8.1.3
contextlib2==21.6.0
dm-tree==0.1.8
editdistance==0.6.2
etils==1.3.0
fiddle==0.2.6
flatbuffers==23.5.9
gast==0.4.0
gin-config==0.5.0
google-auth==2.18.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.59.0
graphviz==0.20.1
grpcio==1.54.2
h5py==3.8.0
idna==3.4
importlib-resources==5.12.0
jax==0.4.10
jaxlib==0.4.10
jestimator==0.3.3
keras==2.12.0
libclang==16.0.0
libcst==0.4.9
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
mdurl==0.1.2
ml-collections==0.1.1
ml-dtypes==0.1.0
msgpack==1.0.5
mypy-extensions==1.0.0
nest-asyncio==1.5.6
numpy==1.23.5
oauthlib==3.2.2
opt-einsum==3.3.0
orbax-checkpoint==0.2.3
packaging==23.1
promise==2.3
protobuf==3.20.3
psutil==5.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyglove==0.3.0
Pygments==2.15.1
PyYAML==6.0
requests==2.30.0
requests-oauthlib==1.3.1
rich==13.3.5
rsa==4.9
scipy==1.10.1
sentencepiece==0.1.99
six==1.16.0
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorflow==2.12.0
tensorflow-cpu==2.12.0
tensorflow-estimator==2.12.0
tensorflow-hub==0.13.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-metadata==1.13.1
tensorflow-text==2.12.1
tensorstore==0.1.36
termcolor==2.3.0
tfds-nightly==4.9.2.dev202305180044
toml==0.10.2
toolz==0.12.0
tqdm==4.65.0
typing-inspect==0.8.0
typing_extensions==4.5.0
urllib3==1.26.18
Werkzeug==2.3.4
wrapt==1.14.1
zipp==3.15.0