absl-py==0.7.1
astor==0.7.1
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
cycler==0.10.0
Cython==0.29.6
dotmap==1.3.8
future==0.17.1
gast==0.2.2
glfw==1.7.1
grpcio==1.19.0
gym==0.12.1
h5py==2.9.0
idna==2.8
imageio==2.5.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lockfile==0.12.2
Markdown==3.1
matplotlib==3.0.3
mock==2.0.0
mujoco-py==2.0.2.0
numpy==1.16.2
opencv-python==4.0.0.21
pbr==5.1.3
Pillow==5.4.1
pkg-resources==0.0.0
protobuf==3.7.1
pycparser==2.19
pyglet==1.3.2
pyparsing==2.3.1
python-dateutil==2.8.0
PyYAML==4.2b2
requests==2.21.0
scipy==1.2.1
six==1.12.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-probability==0.6.0
termcolor==1.1.0
urllib3==1.24.1
Werkzeug==0.15.1
