numpy<1.19.0,>=1.16.0
gast==0.3.3
tensorflow-probability==0.11.1
tensorflow==2.3.1
tf-agents==0.6.0
git+https://github.com/rlworkgroup/metaworld.git@master#egg=metaworld
cloudpickle<1.4.0,>=1.2.0
gym==0.17.1
matplotlib==3.0.2
mujoco-py==2.0.2.9
seaborn==0.10.1
