absl-py==1.0.0
astor==0.8.1
attrs==21.2.0
cached-property==1.5.2
certifi==2021.10.8
charset-normalizer==2.0.9
dill==0.3.4
future==0.18.2
gast==0.2.2
google-pasta==0.2.0
googleapis-common-protos==1.54.0
grpcio==1.42.0
h5py==3.6.0
idna==3.3
importlib-metadata==4.8.2
importlib-resources==5.4.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.6
numpy==1.21.4
opt-einsum==3.3.0
Pillow==8.4.0
promise==2.3
protobuf==3.19.5
requests==2.26.0
scipy==1.7.3
six==1.16.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-datasets==3.2.1
tensorflow-estimator==1.15.1
tensorflow-metadata==1.5.0
termcolor==1.1.0
tqdm==4.62.3
typing-extensions==4.0.1
urllib3==1.26.7
Werkzeug==2.0.2
wrapt==1.13.3
zipp==3.6.0
